body{
  background-color: #bcdee7;
}
  nav {
    grid-area: header;
    background-color: white;
    border: 1px solid #000000;;
    border-radius: 20px;
    width: 60vw;
    margin: 5vh auto;
    display: flex;
    flex-wrap: inherit;
    align-items: center;
    justify-content: space-evenly;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    position: relative;
    flex-wrap: wrap;
  }
  
  
 

.card{
    display:flex;
    margin:auto;
    width:1100px;
    margin-bottom: 20px;
    }


.feed{
    display:flex;
    margin-inline:auto;
    width:1000px;
}


