body {
    background: #fcdde2 no-repeat center center fixed;
    font: normal 14px/1.618em "Roboto", sans-serif;
}


h1, h2 {
    font-weight: 500;
    margin-block-start: 0px;
    margin-block-end: 0px;
}

h1 {
    font-size: 24px;
    margin-top: 15px;
}

h2 {
    font-size: 13px;
}


.profile-card {
    background: #dedede;
    width: 56px;
    height: 56px;
    position: absolute;
    left: 50%;
    top: 50%;
    overflow: hidden;
    opacity: 0;
    margin-top: 70px;
    -webkit-transform: translate(-50%, -50%);
    -webkit-border-radius: 50%;
    -webkit-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16), 0px 3px 6px rgba(0, 0, 0, 0.23);
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16), 0px 3px 6px rgba(0, 0, 0, 0.23);
    -webkit-animation: init 0.5s 0.2s cubic-bezier(0.55, 0.055, 0.675, 0.19) forwards, moveDown 1s 0.8s cubic-bezier(0.6, -0.28, 0.735, 0.045) forwards, moveUp 1s 1.8s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards, materia 0.5s 2.7s cubic-bezier(0.86, 0, 0.07, 1) forwards;
    animation: init 0.5s 0.2s cubic-bezier(0.55, 0.055, 0.675, 0.19) forwards, moveDown 1s 0.8s cubic-bezier(0.6, -0.28, 0.735, 0.045) forwards, moveUp 1s 1.8s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards, materia 0.5s 2.7s cubic-bezier(0.86, 0, 0.07, 1) forwards;
}

.profile-card header {
    width: 100%;
    display: inline-block;
    background: #FFFFFF;
    color: #000000;

    opacity: 0;
    text-align: center;
    -webkit-animation: moveIn 1s 3.1s ease forwards;
    animation: moveIn 1s 3.1s ease forwards;
}

.profile-card header h1 {
    color: #ff224e;
}

#profile_image {
    width: 35%;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 50%;
    margin-top: 30px;
}

#head-wrap {
    margin: auto;
}

.profile-card .profile-bio {
    width: 100%;
    display: inline-block;
    margin-top: 20px;
    background: #FFFFFF;
    color: #333333;
    text-align: center;
    opacity: 0;
    -webkit-animation: moveIn 1s 3.1s ease forwards;
    animation: moveIn 1s 3.1s ease forwards;
}

@-webkit-keyframes init {
    0% {
        width: 0px;
        height: 0px;
    }

    100% {
        width: 56px;
        height: 56px;
        margin-top: 0px;
        opacity: 1;
    }
}

@keyframes moveDown {
    0% {
        top: 50%;
    }

    50% {
        top: 40%;
    }

    100% {
        top: 100%;
    }
}

@-webkit-keyframes moveUp {
    0% {
        background: #f3bebe;
        top: 100%;
    }

    50% {
        top: 40%;
    }

    100% {
        top: 50%;
        background: #E0E0E0;
    }
}


@-webkit-keyframes materia {
    100% {
        width: 50vw;
        height: 280px;
        background: #FFFFFF;
        -webkit-border-radius: 4px;
    }
}

@-webkit-keyframes moveIn {
    100% {
        opacity: 1;
    }
}




@keyframes materia {
    0% {
        background: #E0E0E0;
    }

    50% {
        border-radius: 4px;
    }

    100% {
        min-width: 270px;
        width: 30vw;
        min-height: 460px;
        height: 65vh;
        background: #FFFFFF;
        border-radius: 10px;
    }
}


.submit_btn {
    text-align: center;
    background: #fcdde2;
    color: rgb(85, 85, 85);
    border-radius: 10px;
    border : 1px solid #fcdde2;
    font-size: 14px;
    font-weight: 600;
    line-height: 28px;
    outline: none;
    padding: 0;
    width: 80%;
    margin-top: 10px;
    cursor: pointer;
}


input {
    border-radius: 15px;
    border-color: #bcdee7;
    height: 20px;
}


@-webkit-keyframes material {
    100% {
        width: 80vw;
        min-width: 500px;
        height: 300px;
        margin-top: 400px;
        background: #FFFFFF;
        border-top-left-radius: 10px;
border-top-right-radius: 10px;
border-bottom-left-radius:  0;
border-bottom-right-radius: 0;
        opacity: 1;
    }
}

#main_section {
    background: white;
    width: 0;
    position: absolute;
    left: 50%;
    top: 70%;
    overflow: hidden;
    opacity: 0;
    margin-top: 0px;
    display: flex;
    padding:40px;
    -webkit-transform: translate(-50%, -50%);
    -webkit-border-radius: 50%;
    -webkit-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16), 0px 3px 6px rgba(0, 0, 0, 0.23);
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16), 0px 3px 6px rgba(0, 0, 0, 0.23);
    animation: material 0.5s 2.7s cubic-bezier(0.86, 0, 0.07, 1) forwards;
}

#recommend, #followings{
    width: 50%;
}

#recommend{
    border-right: 1px solid #EEEEEE;
}

.title {
    font-size:20px;
    text-align: center;
    padding-bottom: 20px;
}

.text-input{
    border-left-width:0;
    border-right-width:0;
    border-top-width:0;
    border-bottom-width:1;
    border-color : #fcdde2;
}

.real-upload{
    display:none;
}

.upload > img{
    width:8%;
    display: block;
    margin: 40px auto 0 auto;
    opacity : 0;
    animation: upload 0.5s 3s cubic-bezier(0.86, 0, 0.07, 1) forwards;
}
.upload:hover{
    cursor:pointer;
}

@-webkit-keyframes upload {
    100% {
        width:8%;
        display: block;
        margin: 40px auto 0 auto;
        opacity: 1;
    }
}