.main_container {
    padding-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    background-color: #fff;
    border: 0px solid #e6e6e6;
    padding: 0 40px 25px;
    margin-bottom: 30px;
}

.circle {
    width: 200px;
    height: 200px;
    background-color: #bcdee7;
    border-radius: 50%;
    border-color: #bcdee7;
    margin: 0 auto; 
    margin-top: 20px;
    margin-bottom: 50px;
    font-size: 50px;
    text-align: center;
    line-height: 200px;
}

.accordion-button {
    font-weight: bold;
}

.submit_btn {
    background: #bcdee7;
    border-color: #bcdee7;
    color: #fff;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    font-size: 14px;
    font-weight: 600;
    line-height: 38px;
    outline: none;
    padding: 0;
    width: 250px;
    cursor: pointer;
    display: block;
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 25px;
}

.container {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    width: 100%;
    padding-right: calc(var(--bs-gutter-x) * .5);
    padding-left: calc(var(--bs-gutter-x) * .5);
    margin-right: auto;
    margin-left: auto;
}

.rounded {
    border-radius: 0.375rem;
}
.bg-light {
    opacity: 1;
    background-color: #f8f9fa;
}
.p-5 {
    padding: 3rem;
}
*, ::after, ::before {
    box-sizing: border-box;
}
user agent stylesheet
div {
    display: block;
}
